*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: black;
}
.head, .main{
    margin-right: auto;
    margin-left: auto;
    width: 95%;
    max-width: 1200px;

}
.head{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.head .buttons{
    margin: 20px 0 20px 20px;
}
.head .button{
    border: solid 2px #666;
    border-radius: 5px;
    padding: 4px 15px;
    margin-right: 15px;
    text-transform: uppercase;
}
.head .button:hover{
    box-shadow: 0 0 5px black;
}
hr{
    width: 95%;
    height: 2px;
    color: #666666;
    margin: 0 auto;
}
.main{
    min-height: calc(100vh - 180px);
}
.products{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.product{
    border: solid 1px #666;
    width: 220px;
    padding: 12px 12px 30px;
    margin: 20px 10px 10px;
}
.product p{
    text-align: center;
}


footer p{
    margin: 30px;
    text-align: center;
}

/*-----------add-----------*/

form.new_product{
    padding: 30px 0;
    width: 240px;
}
form.new_product p{
    margin-bottom: 10px;;
}
.new_product label {
    display: block;
    margin-bottom: 10px;
    position: relative;
}
.new_product input, .new_product select{
    position: absolute;
    right: 0;
}

.new_product .hidden{
    display: none;
}

img.error{
    width: 100vw;
}